.hoist {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

html {
  scroll-behavior: smooth;
}

.hoist.visible {
  opacity: 1;
  transform: translateY(0);
}

.button {
  text-decoration: none;
  background: #228777;
  border-radius: 5px;
  text-align: center;
  padding: 12px 24px;
  font-size: 20px;
  font-family: serif;
  cursor: pointer;
  transition: 0.25s opacity 0.6s ease-out, transform 0.6s ease-out;
}
.button:hover {
  background: #1a7465;
  transition: 0.25s;
}

.carousel-container {
  position: relative;
  max-width: 77%;
  margin: 0 auto;
  overflow: hidden;
}

.cards {
  user-select: none;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-card {
  flex: 0 0 100%;
  text-align: center;
}
.carousel-card p {
  margin-top: 15px;
  text-align: start;
  line-height: 38px;
  font-size: calc(1vw + 1.25vh + 5px);
  font-family: "Poppins";
}

.carousel-card img {
  border-radius: 50%;
  width: 80px;
}
.prev-btn,
.next-btn {
  background: none;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  z-index: 1;
}
@media (max-width: 500px) {
  .prev-btn {
    padding: 0px;
    font-size: 18px;
  }
  .next-btn {
    padding: 0px;
    font-size: 18px;
  }
  .carousel-card p {
    font-size: 18px;
  }
}
.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #202324;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #51575a;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  z-index: 1;
  background: #0e0f10;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  position: relative;
}
header {
  transition: background-color 0.3s ease;
  z-index: 10;
  user-select: none;
  position: sticky;
  height: 96px;
  background: none;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 24px 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer {
  z-index: 10;
  user-select: none;
  height: 96px;
  background: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 18vh;
}
section {
  background: #0e0f10;
  display: flex;
  flex-wrap: wrap;
  padding: calc(4vh + 5vw) 12vw calc(4vh + 5vw) 10vw;
  background-color: #17191a;
}
header > div,
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 48px;
  margin-right: 15px;
  filter: invert(100%);
}
.logo-text {
  font-size: 40px;
  font-weight: 300;
}

.header-block {
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 764px) {
  .button {
    width: calc(5vw + 5vh + 5%);
  }
}

@media (max-width: 764px) {
  .header-block {
    padding: calc(15vh + 11vw) 10vw calc(4vh + 6vw) 10vw;
  }
}

h2 {
  font-size: calc(3vh + 2vw);
}
section:nth-child(3) {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
section:nth-child(3) > div {
  gap: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
}
section:nth-child(3) > div > h2 {
  font-size: 45px;
  font-weight: 300;
}
section:nth-child(3) > div > p {
  font-size: 20px;
}

@media (max-width: 1200px) {
  section:nth-child(3) > div {
    width: 100%;
    align-items: center;
    display: flex;
  }
  section:nth-child(3) > div > img {
    width: 80%;
  }
  section:nth-child(3) {
    height: 1000px;
  }
  svg {
    transform: translateY(20px);
  }
}
@media (min-width: 1200px) {
  .border {
    transform: translateY(100px);
  }
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.service {
  border-radius: 10px;
  padding: 20px 0;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
}
.service img {
  max-width: 100%;
  border-radius: 5px;
}
.service p {
  font-size: 18px;
  margin: 10px 0;
  text-align: start;
}
section > h2 {
  font-size: 40px;
}
.service h2 {
  font-size: 28px;
  margin: 16px 0px;
  text-align: start;
}
@media (max-width: 764px) {
  .service {
    flex: 1 1 100%;
  }
  .carousel-item img {
    max-width: 300px;
    transform: translateX(57.5%);
  }
}
section:nth-child(6) > p {
  font-size: 20px;
  font-weight: 300;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.gallery-item {
  user-select: none;
  cursor: pointer;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  transition: 0.25s;
}
.gallery-item:hover {
  filter: brightness(1.2);
  transition: 0.25s;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  opacity: 0;
  transition: opacity 0.2s;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  overflow: hidden;
  z-index: 1000;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  padding: 12px;
  user-select: none;
  min-width: 33.3333%;
  box-sizing: border-box;
  transition: 0.5s;
}

.carousel-item img {
  user-select: none;
  width: 100%;
  display: block;
}

.prev,
.next,
.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 1001;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.close {
  top: 20px;
  right: 20px;
  transform: none;
}

@media (max-width: 1000px) {
  .gallery-item {
    flex: 1 1 calc(100% - 20px);
  }
}

section:nth-child(12) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
section:nth-child(12) > h2 {
  font-family: "Poppins";
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(12) > p {
  font-family: "serif";
  font-size: 18px;
  text-align: center;
}
section:nth-child(12) > a {
  width: calc(50% - 30vw + 170px);
}
.map-section {
  position: relative;
  height: 600px;
}
.map-svg {
  transform: rotate(180deg) translateY(40px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.map-iframe {
  width: calc(100vw - 15px);
  border: none;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.map-badge {
  border-radius: 30px;
  width: 500px;
  height: 125px;
  background: #232627;
  z-index: 3;
  position: absolute;
  bottom: 25%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 18px;
  gap: 5px;
}
@media (max-width: 768px) {
  .carousel-item {
    width: 200px;
  }
  .map-iframe {
    width: 100vw;
  }
  .map-badge {
    width: 400px;
    height: 100px;
    bottom: 17%;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (max-width: 425px) {
  .map-svg {
    transform: rotate(180deg) translateY(20px);
  }
  .map-badge {
    width: 250px;
    height: 100px;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
  }
}
.map-badge > h2 {
  font-size: 26px;
  font-family: "Poppins";
  letter-spacing: 2px;
}

.map-badge > p {
  font-size: 18px;
  font-family: "serif";
  letter-spacing: 2px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.contact-info > h2 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.contact-info > p {
  font-size: 18px;
  font-family: serif;
  margin-bottom: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
}
.contact-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.contact-inputs label {
  font-family: serif;
}
label {
  font-family: serif;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #1a1c1d;
  width: 100%;
  padding: 10px;
  font-family: serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.contact-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-family: serif;
}
a {
  color: white;
}
a:visited {
  color: none;
}
a:focus {
  color: none;
}
label {
  text-wrap: nowrap;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: stretch;
  }
  .contact-form {
    max-width: none;
  }
  .contact-inputs {
    flex-direction: column;
    gap: 10px;
  }
  label[for="message"] {
    text-align: center;
  }
}
.scrolling {
  background-color: #17191a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section:nth-child(11) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
