@font-face {
  font-family: "Poppins";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-ext";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --li4-space-3xs: 0.25rem;
  --li4-space-2xs: 0.375rem;
  --li4-space-xs: 0.5rem;
  --li4-space-sm: 0.75rem;
}

@media (min-width: 64rem) {
  :root {
    --li4-space-3xs: 0.375rem;
    --li4-space-2xs: 0.5625rem;
    --li4-space-xs: 0.75rem;
    --li4-space-sm: 1.125rem;
  }
}

.li4-btn {
  cursor: pointer;
  padding: var(--li4-space-2xs) var(--li4-space-sm);
}

.li4-btn--subtle {
  background: hsl(var(--li4-color-bg-lighter-hsl));
  color: hsl(var(--li4-color-contrast-higher-hsl));
  box-shadow: inset 0px 1px 0px hsla(var(--li4-color-white-hsl), 0.1),
    0px 0px 0px 1px hsla(var(--li4-color-black-hsl), 0.02),
    0px 1px 3px -1px hsla(var(--li4-color-black-hsl), 0.2),
    0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05),
    0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.li4-icon {
  height: var(--li4-size, 1em);
  width: var(--li4-size, 1em);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

:root {
  --picker-vertical-gap: 4px;
}

.language-picker {
  display: inline-block;
  position: relative;
}

.language-picker__form {
  display: none;
}

.language-picker__button .li4-icon {
  height: 16px;
  width: 16px;
}
.language-picker__button .li4-icon:first-of-type {
  margin-right: var(--li4-space-3xs);
}
.language-picker__button .li4-icon:last-of-type {
  margin-left: var(--li4-space-3xs);
}

.language-picker__dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: hsl(var(--li4-color-bg-light-hsl));
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08),
    0 14px 25px rgba(0, 0, 0, 0.12);
  padding: var(--li4-space-3xs) 0;
  border-radius: 0.25em;
  z-index: 5;
  margin-top: var(--picker-vertical-gap);
  margin-bottom: var(--picker-vertical-gap);
  --space-unit: 1rem;
  --text-unit: 1rem;
  font-size: var(--text-unit);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s;
}

.language-picker__dropdown--up {
  bottom: 100%;
  top: auto;
}

.language-picker__button[aria-expanded="true"] + .language-picker__dropdown {
  background-color: #18191b;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s;
}

.language-picker__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: var(--li4-space-2xs) var(--li4-space-sm);
  color: hsl(var(--li4-color-contrast-high-hsl));
  transition: background 0.2s;
}
.language-picker__item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.language-picker__item[aria-selected="true"] {
  position: relative;
  background-color: hsl(var(--li4-color-primary-hsl));
  color: hsl(var(--li4-color-white-hsl));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.language-picker__item[aria-selected="true"]::after {
  content: "";
  height: 16px;
  width: 16px;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' points='1,9 5,13 15,3 '/%3E%3C/svg%3E");
  margin-left: auto;
}

.language-picker__flag {
  display: flex;
  align-items: center;
}
.language-picker__flag::before {
  display: none;
  flex-shrink: 0;
  content: "";
  height: 16px;
  width: 16px;
  margin-right: var(--li4-space-2xs);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.language-picker__dropdown .language-picker__flag::before {
  margin-right: var(--li4-space-xs);
}

.language-picker--flags .language-picker__flag::before {
  display: inline-block;
  display: inline-flex;
}
.language-picker--flags .language-picker__button .li4-icon:first-of-type {
  display: none;
}

.language-picker--hide-label .language-picker__button .li4-icon {
  margin-left: 0;
}
.language-picker--hide-label .language-picker__button .li4-icon:first-of-type {
  display: none;
}
.language-picker--hide-label .language-picker__button em {
  display: none;
}
.language-picker--hide-label
  .language-picker__button
  .language-picker__flag::before {
  margin-right: var(--li4-space-3xs);
}

.language-picker--hide-label .language-picker__flag::before {
  display: inline-block;
  display: inline-flex;
}
.li4-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}
em {
  color: white;
  font-family: "Poppins";
  font-style: normal;
}
.language-picker__button {
  text-decoration: none;
  background: #228777;
  border-radius: 5px;
  text-align: center;
}
.language-picker__button:hover {
  background: #1a7465;
  transition: 0.25s;
}
.hoist {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

html {
  scroll-behavior: smooth;
}

.hoist.visible {
  opacity: 1;
  transform: translateY(0);
}

.button {
  text-decoration: none;
  background: #228777;
  border-radius: 5px;
  text-align: center;
  padding: 12px 24px;
  font-size: 20px;
  font-family: serif;
  cursor: pointer;
  transition: 0.25s opacity 0.6s ease-out, transform 0.6s ease-out;
}
.button:hover {
  background: #1a7465;
  transition: 0.25s;
}

.carousel-container {
  position: relative;
  max-width: 77%;
  margin: 0 auto;
  overflow: hidden;
}

.cards {
  user-select: none;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-card {
  flex: 0 0 100%;
  text-align: center;
}
.carousel-card p {
  margin-top: 15px;
  text-align: start;
  line-height: 38px;
  font-size: calc(1vw + 1.25vh + 5px);
  font-family: "Poppins";
}

.carousel-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.prev-btn,
.next-btn {
  background: none;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 40px;
  z-index: 1;
}
@media (max-width: 500px) {
  .language-picker__button {
    padding: 5px;
    width: 100px;
    font-size: 13px;
  }
  .prev-btn {
    padding: 0px;
    font-size: 18px;
  }
  .next-btn {
    padding: 0px;
    font-size: 18px;
  }
  .carousel-card p {
    font-size: 18px;
  }
}
.prev-btn:hover,
.next-btn:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #202324;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #51575a;
}
body {
  z-index: 1;
  background: #0e0f10;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100%;
  position: relative;
}
header {
  transition: background-color 0.3s ease;
  z-index: 10;
  user-select: none;
  position: sticky;
  height: 96px;
  background: none;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 24px 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer {
  z-index: 10;
  user-select: none;
  background: none;
  display: flex;
  justify-content: space-between;
  padding: 24px 10vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 21vh;
  font-family: "Poppins-ext";
}
section {
  text-wrap: wrap;
  background: #0e0f10;
  display: flex;
  flex-wrap: wrap;
  padding: calc(4vh + 5vw) 12vw calc(4vh + 5vw) 10vw;
  background-color: #17191a;
}
header > div,
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 48px;
  margin-right: 15px;
  filter: invert(100%);
}
.logo-text {
  font-size: 40px;
  font-weight: 300;
}

.header-block {
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 760px) {
  .button {
    width: calc(5vw + 5vh + 5%);
  }
}
@media (min-width: 760px) and ((max-width: 1200px)) {
  .service img {
    width: 30vw;
    height: 20vh;
  }
}
@media (max-width: 760px) {
  .header-block {
    padding: calc(15vh + 11vw) 10vw calc(4vh + 6vw) 10vw;
  }
}

h2 {
  font-size: calc(3vh + 2vw);
}
section:nth-child(3) {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
section:nth-child(3) > div {
  gap: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
}
section:nth-child(3) > div > h2 {
  font-size: 45px;
  font-weight: 300;
}
section:nth-child(3) > div > p {
  font-size: 20px;
}

@media (max-width: 1200px) {
  section:nth-child(3) > div {
    width: 100%;
    align-items: center;
    display: flex;
  }
  section:nth-child(3) > div > img {
    width: 80%;
  }
  section:nth-child(3) {
    height: 1000px;
  }
  .border {
    transform: translateY(20px);
  }
}
@media (min-width: 1200px) {
  .border {
    transform: translateY(100px);
  }
}
.border > path {
  background: #17191a;
}
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.service {
  border-radius: 10px;
  padding: 20px 0;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
}
.service img {
  max-width: 100%;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .service img {
    width: 300px;
    height: 150px;
  }
  section:nth-child(5) > h2 {
    font-size: 10vw;
  }
}
.service p {
  font-size: 18px;
  margin: 10px 0;
  text-align: start;
}
section > h2 {
  font-size: 40px;
}
.service h2 {
  font-size: 28px;
  margin: 16px 0px;
  text-align: start;
}
@media (max-width: 1440px) {
  .carousel-item img {
    max-height: 600px;
    max-width: 600px;
    transform: translateX(120%);
  }
}
@media (max-width: 760px) {
  .service {
    flex: 1 1 100%;
  }
  .carousel-item img {
    max-height: 300px;
    max-width: 300px;
    transform: translateX(57.5%);
  }
}
section:nth-child(6) > p {
  font-size: 20px;
  font-weight: 300;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.gallery-item {
  height: 400px;
  user-select: none;
  cursor: pointer;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  transition: 0.25s;
}
.gallery-item:hover {
  filter: brightness(0.8);
  transition: 0.25s;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  opacity: 0;
  transition: opacity 0.2s;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  overflow: hidden;
  z-index: 1000;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  padding: 12px;
  user-select: none;
  min-width: 33.3333%;
  box-sizing: border-box;
  transition: 0.5s;
}

.carousel-item img {
  user-select: none;
  width: 600px;
  height: 600px;
  display: block;
}

.prev,
.next,
.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 1001;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.close {
  top: 20px;
  right: 20px;
  transform: none;
}

@media (max-width: 1000px) {
  .gallery-item {
    flex: 1 1 calc(100% - 20px);
  }
}

section:nth-child(12) {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
section:nth-child(12) > h2 {
  font-family: "Poppins";
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(12) > p {
  font-family: "serif";
  font-size: 18px;
  text-align: center;
}
section:nth-child(12) > a {
  width: calc(50% - 30vw + 170px);
}
.map-section {
  position: relative;
  height: 600px;
}
.map-svg {
  transform: rotate(180deg) translateY(40px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.map-iframe {
  width: calc(100vw - 15px);
  border: none;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.map-badge {
  border-radius: 30px;
  width: 500px;
  height: 125px;
  background: #232627;
  z-index: 3;
  position: absolute;
  bottom: 25%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 18px;
  gap: 5px;
}
@media (max-width: 760px) {
  .carousel-item {
    width: 200px;
  }
  .map-iframe {
    width: 100vw;
  }
  .map-badge {
    width: 400px;
    height: 100px;
    bottom: 17%;
    right: 50%;
    transform: translateX(50%);
  }
}
@media (max-width: 425px) {
  .map-svg {
    transform: rotate(180deg) translateY(20px);
  }
  .map-badge {
    width: 250px;
    height: 100px;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
  }
}
.map-badge > h2 {
  font-size: 22px;
  font-family: "Poppins";
  letter-spacing: 2px;
}

.map-badge > p {
  font-size: 18px;
  font-family: "serif";
  letter-spacing: 2px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.contact-info > h2 {
  font-size: 32px;
  font-family: "Poppins-ext", sans-serif;
}
.contact-info > p {
  font-size: 18px;
  font-family: serif;
  margin-bottom: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
}
.contact-inputs {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.contact-inputs label {
  font-family: serif;
}
label {
  font-family: serif;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #1a1c1d;
  width: 100%;
  padding: 10px;
  font-family: serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
}
textarea {
  resize: vertical;
  min-height: 100px;
}
.contact-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  font-family: serif;
}
a {
  color: white;
}
a:visited {
  color: none;
}
a:focus {
  color: none;
}
label {
  text-wrap: nowrap;
}
@media (max-width: 760px) {
  .contact-container {
    flex-direction: column;
    align-items: stretch;
  }
  .contact-form {
    max-width: none;
  }
  .contact-inputs {
    flex-direction: column;
    gap: 10px;
  }
  label[for="message"] {
    text-align: center;
  }
}
.scrolling {
  background-color: #17191a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section:nth-child(12) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.service-img {
  height: 400px;
}

.copy-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hint {
  visibility: hidden;
  width: 120px;
  background-color: #18191b;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.hint::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.copy-container:hover .hint {
  visibility: visible;
  opacity: 1;
}

.popup {
  visibility: hidden;
  width: 200px;
  background-color: #228777;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.prefooter {
  background-image: url("../assets/prefooter.jpeg");
  background-position: center;
  background-size: cover;
}
